{%load static%}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    *{
        background-color: aliceblue;
    }
</style>
</head>
<body>
    <form action="" method="POST"> 
        {% csrf_token %}
    <div class="container">
        <div class="row">
         <div class="col-md-4">
                <label for="name" class="cols-sm-2 control-label" required>Your Name</label>
                <div class="input-group">
                    
                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" name="username"placeholder="Enter your Name" required/>
                </div>
            </div>
            <div class="col-md-4">
                <label for="email" class="cols-sm-2 control-label" required>Your Email</label>
                <div class="input-group">
                    
                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" name="email" id="email" placeholder="Enter your Email" required/>
                </div>
            </div>
            <div class="col-md-4">
                <label for="password" class="cols-sm-2 control-label" >Password</label>
                <div class="input-group">

                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                 <input type="password" class="form-control" name="password" id="password" placeholder="Enter your Password" required/>
                </div>
                
            </div>
            <div class="col-md-6 mt-5">
                <button type="submit" class=" log btn btn-primary btn-center ml-4 mt-4">LOGIN</button>
            </div>
        </div>
          {% if messages %}
          {% for message in messages%}
             <div class="alert alert-success">{{ message }}</div> 
           {% endfor %}
        {% endif %}

    </div>
</form>
</body>
</html>